<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Created at</th>
                <th scope="col">Due At</th>
                <th scope="col">Completed</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let todo of todos">
                <td>{{ todo.id }}</td>
                <td>{{ todo.title }}</td>
                <td>{{ todo.description }}</td>
                <td>{{ todo.createdAt }}</td>
                <td>{{ todo.dueAt }}</td>
                <td>{{ todo.completed }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
